*{
	--page-footer: lightskyblue;
	--default-background-color: #bcbdb8;
	font-family: Roboto, sans-serif;
}

html {
	height: 100%;
	width: 100%;
}
body {
	box-sizing: border-box;
	background-color: var(--default-background-color);
	padding: 0px;
	margin: 0px;
}

main {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-gap: 3px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 40px auto 40px;
	grid-template-areas: "m h h h h h h h h h h h" "m c c c c c c c c c c c" "m f f f f f f f f f f f";
}

main>article, main>header, main>footer, main>nav {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	color: #20201c;
}

header {
	grid-area: h;
}

nav {
	grid-area: m;
}

nav > a {
	display: block;
}

article {
	grid-area: c;
}

footer {
	grid-area: f;
}

article:nth-child(1n) {
	background-color: #96ceb4;
}

header:nth-child(3n) {
	background-color: #88d8b0;
}

nav:nth-child(2n) {
	background-color: #ff6f69;
}

footer:nth-child(4n) {
	background-color: #ffcc5c;
}